<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated generatorMetamodels -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="generatorMetamodels.presentation.GeneratorMetamodelsModelWizardID"
            name="%_UI_GeneratorMetamodelsModelWizard_label"
            class="generatorMetamodels.presentation.GeneratorMetamodelsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GeneratorMetamodelsModelFile.gif">
         <description>%_UI_GeneratorMetamodelsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated generatorMetamodels -->
      <editor
            id="generatorMetamodels.presentation.GeneratorMetamodelsEditorID"
            name="%_UI_GeneratorMetamodelsEditor_label"
            icon="icons/full/obj16/GeneratorMetamodelsModelFile.gif"
            extensions="generatormetamodels"
            class="generatorMetamodels.presentation.GeneratorMetamodelsEditor"
            contributorClass="generatorMetamodels.presentation.GeneratorMetamodelsActionBarContributor">
      </editor>
   </extension>

</plugin>
